POSTGRES_DB=asset_management_demo
POSTGRES_USER=asset_management_user
POSTGRES_PASSWORD=asset_management_password

DB_HOST=db
DB_PORT=5432
DB_NAME=asset_management_demo
DB_USER=asset_management_user
DB_PASSWORD=asset_management_password
